$primaryColor: white;
$bgColor: black;
$boatBreakPoint: 553px;
$titleFont: 'Ubuntu', sans-serif;

*{
    font-family: $titleFont;
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}

body{
    background-color: $bgColor;
    color: $primaryColor;
}

.container{
   height: 100vh;
   position: relative;
   
    .main-title{
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 3.5rem;
        transform: translate(-50%, -100%);
    }

    img{
        height: 100vh;
        width: 100%;
        position: absolute;
        object-fit: contain; 
        z-index: -1;
    }

    


    
}



.blackout{
    min-width: 17rem;
    height: 100vh;
    position: absolute;
    background: blue;
    right: -5px;
    display: none;
    transform: translate(-2%, 0%);
    z-index: 10;
}

@media (min-width: $boatBreakPoint){
    .blackout{
        display: inline-block;
        max-width: 12.5rem;
        justify-content: space-between;
}

nav{
    position: absolute;
    display: flex;
    width: 100%;
    padding: 1.5rem;
    justify-content: space-between;
    h4{
        color: $primaryColor;
        left: 1rem;
        font-size: 1rem;
    }

    
} 

.content{
  background-color: $bgColor;
  position: absolute;
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center ;
  padding: 40px;
}
